*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-poppins);
    font-size: 0.938rem;
}

:root{
    /* primary color */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /* natural color */
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    /* font family */
    --ff-poppins: 'Poppins', sans-serif;
}

body{
    background-color: lightblue;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------ main section ------------*/
.main{
    width: min(90rem, 100%);
    min-height: 57.5rem;
    background-color: var(--Very-Light-Gray);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*-------------- heading ---------------*/
.heading{
    width: 90%;
    background-color: lightcyan;
    text-align: center;
    margin: 5.625rem 0rem 0rem 0rem;
}

.main-tag{
    font-size: 2rem;
    font-weight: 200;
    columns: var(--Very-Dark-Blue);
}

.sub-tag{
    font-size: 2rem;
    font-weight: 600;
    columns: var(--Very-Dark-Blue);
}

.para{
    font-size: 1rem;
    color: var(--Grayish-Blue);
    margin: 1.5rem auto 0 auto;
    max-width: 55ch;
}

/*---------- card section -----------*/
.cards-wrapper{
    width: 90%;
    background-color: rgb(202, 197, 243);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* all card */
.card{
    background-color: #fff;
    width: calc(100% / 4 - 0rem);
    min-width: 21.875rem;
    margin: 0 0.938rem;
    padding: 2rem;
    border-radius: .3rem;
}

.card_heading{
    font-size: 1.25rem;
    color: var(--Very-Dark-Blue);
    font-weight: 600;
}

.card_para{
    font-size: 0.89rem;
    color: var(--Grayish-Blue);
    font-weight: 400;
    margin-top: 1rem;
}

.card_img{
    display: block;
    margin: 2.5rem 0 0 auto;
}

/* separet card */
.card-1{
    border-top: 0.25rem solid var(--Cyan);
}
.card-2{
    border-top: 0.25rem solid var(--Red);
}
.card-3{
    border-top: 0.25rem solid var(--Blue);
}
.card-4{
    border-top: 0.25rem solid var(--Orange);
}




/*----------------- responsive ------------------*/
@media(max-width: 404px) {
    /*------------ heading -------------*/
    .main-tag, .sub-tag{
        font-size: 1.7rem;
    }
}