*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-poppins);
    font-size: 15px;
}

:root{
    /* primary color */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /* natural color */
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    /* font family */
    --ff-poppins: 'Poppins', sans-serif;
}

body{
    background-color: lightblue;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------ main section ------------*/
.main{
    width: min(90rem, 100%);
    min-height: 57.5rem;
    background-color: var(--Very-Light-Gray);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*-------------- heading ---------------*/
.heading{
    width: 90%;
    background-color: lightcyan;
    text-align: center;
    margin: 5.625rem 0rem 0rem 0rem;
}

.main-tag{
    font-size: 2rem;
    font-weight: 200;
    columns: var(--Very-Dark-Blue);
}

.sub-tag{
    font-size: 2rem;
    font-weight: 600;
    columns: var(--Very-Dark-Blue);
}

.para{
    font-size: 1rem;
    color: var(--Grayish-Blue);
    margin: 1.5rem auto 0 auto;
    max-width: 55ch;
}


/*----------------- responsive ------------------*/
@media(max-width: 404px) {
    /*------------ heading -------------*/
    .main-tag, .sub-tag{
        font-size: 1.7rem;
    }
}